{% extends 'dashboard.html.twig' %}

{% block body %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h2Comments per Post</h1>
    <div id="chart-div"></div>

{{ lava.render('ColumnChart', 'comments', 'chart-div')|raw }}

{% endblock %}