{% extends 'dashboard.html.twig' %}

{% block title %}New Participation{% endblock %}

{% block body %}
    <div class="container-fluid py-4" style="background-color: #fff; border-radius: 10px;">
        <h1 class="text-center text-primary mb-4">Create New Participation</h1>

        <div class="card shadow p-4">
            {{ include('participationback/_form.html.twig', {'button_label': 'Save'}) }}
        </div>

        <div class="text-center mt-3">
            <a href="{{ path('app_participationback_index') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
{% endblock %}
