{% extends 'base.html.twig' %}

{% block title %}Annulation du paiement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-danger">{{ message }}</h1>
        <p>Le paiement n'a pas été effectué. Vous pouvez réessayer ou contacter le support.</p>
    </div>
{% endblock %}
