{% extends 'base.html.twig' %}

{% block title %}Succès du paiement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4 text-success">{{ message }}</h1>
        <p>Merci pour votre paiement ! Votre réservation a été confirmée.</p>
    </div>
{% endblock %}
